{% macro form(chapter=None) %}
<div>
	<form method='post' class="form-horizontal" >
		<legend>Create new chapter</legend>
		<div class="control-group">
			<label class="control-label" for="title" >Title</label>
			<div class="controls" >
				<input type="text" name="title" class="span3" value="{{ chapter.title if chapter is defined and chapter.title is defined  }}" />
				<p class="help-inline" >Chapter's title</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="chapter_id" >Chapter number</label>
			<div class="controls" >
				<input type="text" name="chapter_id" class="span3" value="{{ chapter.chapter_id if chapter is defined and chapter.chapter_id is defined  }}" />
				<p class="help-inline" >e.g <strong>1.1</strong>, <strong>2.1.1</strong></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="required_chapter" >Required chapter</label>
			<div class="controls" >
				<input type="text" name="required_chapter" class="span3" />
				<p class="help-inline" >chapter's title or number</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content" >Content</label>
			<div class="controls" >
				<div class="tabbable" >
					<ul class="nav nav-tabs" >
						<li class="active" ><a href="#editorTab">Editor</a></li>
						<li><a href="#previewTab">Preview</a></li>
						<li><a href="#syntaxTab">Markdown Syntax</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="editorTab" >
							<textarea name="content" class="span7" rows="13" >{{ chapter.content if chapter is defined and chapter.content is defined  }}</textarea>
						</div>
						<div class="tab-pane" id="previewTab" >
							<div id="previewArea" ></div>
						</div>
						<div class="tab-pane" id="syntaxTab" >
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary btn-large" type="submit" >Save</button>
			<a class="btn btn-large" href="{{ url_for('admin_index') }}" >Cancel</a>
		</div>
	</form>
</div>
{% endmacro %}
