{% macro form(chapter, chapters=[], required_chapters) %}
<div>
  <form method='post' class="form-horizontal" >
    <legend>Create new chapter</legend>
    <div class="control-group">
      <label class="control-label" for="title" >Title</label>
      <div class="controls" >
        <input type="text" name="title" class="span3" value="{{ chapter.title if chapter is defined and chapter.title is defined  }}" />
        <p class="help-inline" >Chapter's title</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="chapter_id" >Chapter number</label>
      <div class="controls" >
        <input type="text" name="chapter_id" class="span3" value="{{ chapter.chapter_id if chapter is defined and chapter.chapter_id is defined  }}" />
        <p class="help-inline" >e.g <strong>1.1</strong>, <strong>2.1.1</strong></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="required_chapter" >Required chapter</label>
      <div class="controls" >
        <input type="text" id="required_chapter" name="required_chapter" class="span3" data-provide="typeahead" autocomplete="off" />
        <p class="help-inline" >chapter's title or number</p>
        <div id="required_chapters">
          {% if required_chapters is defined %}
          {% for item in required_chapters %}
            <input type='hidden' value='{{ item.split(' ')[0] }}' data-value='{{item}}'  name='required_chapters[]' />
            <div title='click to remove' class='required_chapters btn btn-info' data-value='{{item}}' >
              {{item}} 
              <i class='icon-trash icon-white'></i></div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="content" >Content</label>
      <div class="controls" >
        <div class="tabbable" >
          <ul class="nav nav-tabs" >
            <li class="active" ><a href="#editorTab">Editor</a></li>
            <li><a href="#previewTab">Preview</a></li>
            <li><a href="#syntaxTab">Markdown Syntax</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="editorTab" >
              <div class="btn-group">
                <div class="btn" ><i class='icon-plus' title="List"></i></div>
                <div class="btn" ><i class='icon-minus' title="List"></i></div>
                <div class="btn" id="make-bold"><i class='icon-bold' title="Bold" ></i></div>
                <div class="btn" ><i class='icon-italic' title="Italic"></i></div>
                <div class="btn" >__</div>
                <div class="btn" ><i class='icon-list' title="List"></i></div>
                <div class="btn" ><i class='icon-globe'></i> Link</div>
                <div class="btn" data-toggle="modal" id="add-question">
                  <i class='icon-question-sign' title="Qustion"></i> Question
                </div>
                <div class="btn" ><i class='icon-check' title="Qustion"></i> Quiz</div>
              </div>
              <textarea name="content" class="span7" rows="13" >{{ chapter.content if chapter is defined and chapter.content is defined  }}</textarea>
            </div>
            <div class="tab-pane" id="previewTab" >
              <div id="previewArea" ></div>
            </div>
            <div class="tab-pane" id="syntaxTab" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary btn-large" type="submit" >Save</button>
      <a class="btn btn-large" href="{{ url_for('admin_index') }}" >Cancel</a>
    </div>
  </form>
</div>
<div class="modal fade" id="question-modal">
  <form class="form-horizontal" action="{{ url_for('admin_question_new') }}" method="post" >
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Add Question</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="chapter_id" >Question</label>
          <div class="controls" >
            <input type="text" name="question" class="span3" value="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="chapter_id" >Answer</label>
          <div class="controls" >
            <input type="text" name="answer" class="span3" value="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="chapter_id" >Type</label>
          <div class="controls" >
            <label class="radio">
              <input type="radio" name="type" value="1" checked/>
              Textbox
            </label>
            <label class="radio">
              <input type="radio" name="type" value="2" />
              Textarea
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="chapter_id" >Hint</label>
          <div class="controls" >
            <input type="text" name="hint" class="span3" value="" />
          </div>
        </div>
        <input type="hidden" name="chapter_id" value="{{ chapter.chapter_id if chapter is defined }}" />
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
      <button href="#" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
  source = [{% for item in chapters -%}"{{ item }}"{{ ', ' if not loop.last }}{%- endfor %}];
  $('#required_chapter').typeahead({source: source});
});
</script>
{% endmacro %}
