{% macro form(chapter=None) %}
<div>
	<form method='post' class="form-horizontal" >
		<legend>Create new chapter</legend>
		<div class="control-group">
			<label class="control-label" for="title" >Title</label>
			<div class="controls" >
				<input type="text" name="title" class="span3" value="{{ chapter.title if chapter is defined and chapter.title is defined  }}" />
				<p class="help-inline" >Chapter's title</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="chapter_id" >Chapter number</label>
			<div class="controls" >
				<input type="text" name="chapter_id" class="span3" value="{{ chapter.chapter_id if chapter is defined and chapter.chapter_id is defined  }}" />
				<p class="help-inline" >e.g <strong>1.1</strong>, <strong>2.1.1</strong></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="required_chapter" >Required chapter</label>
			<div class="controls" >
				<input type="text" name="required_chapter" class="span3" />
				<p class="help-inline" >chapter's title or number</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content" >Content</label>
			<div class="controls" >
				<textarea name="content" class="span7" rows="13" >{{ chapter.content if chapter is defined and chapter.content is defined  }}</textarea>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary btn-large" type="submit" >Save</button>
			<button class="btn btn-large" type="submit" >Cancel</button>
		</div>
	</form>
</div>
{% endmacro %}
